.FormControl {
  position: relative;
}
.spanError, .fromSpanError {
  position: absolute;
  top: -50%;
  left: 95%;
  min-width: 180px;
  text-align: center;
  display: block;
  opacity: 0;
  color: #263238;
  padding: 7px 15px;
  border-radius: 15px;
  background-color: #ff1744;
  z-index: 1;
  transition: .3s;
}
.fromSpanError {
  top: 0 !important;
  min-width: 195px;
}
.ellipse {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ff1744;
  border-radius: 50%;
  left: -59px;
  top: 100%;
}
.spanError::after, .fromSpanError::after{
  content: '';
  position: absolute;
  display: block;
  background-color: #ff1744;
  width: 40px;
  height: 2px;
  left: -14%;
  top: 15px;
}
.spanError::before, .fromSpanError::before {
  content: '';
  position: absolute;
  display: block;
  background-color: #ff1744;
  width: 36px;
  height: 2px;
  left: -28%;
  top: 27px;
  transform: rotate(-45deg);
}
.fromSpanError::before {
  left: -26.5%;
}
.FormControl.error input,
.FormControl.error textarea,
.FormControl.error .spanError {
  border-bottom: 2px solid #ff1744;
  opacity: 1 !important;
}
.FormControl.error label {
  color: #ff1744;
}

.formSummaryError {
  border: 2px solid #ff1744;
}
.formSummaryError span.fromSpanError {
  border-bottom: 2px solid #ff1744;
  opacity: 1 !important;
}